*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
node_modules/
dist/
*.tsbuildinfo
.npm
.eslintcache
src/__tests__/.next/next-page-bundlesize.config.json
src/__tests__/.next/.bundlesize*
src/__tests__/.next/new-master-config.json
src/__tests__/.next/bundlesize.json
